input[type="text"] {
  background: #FFFFFF;
  border: none;
  border-radius: 0px;
  color: #000000;
  font-size: 18px;
  font-family: 'AFuturicaLtThin', sans-serif;
  height: 40px;
  padding: 0px;
  text-indent: 10px;
  transition: all 0.3s ease-in-out;
}

input[type="text"]:focus {
  background: #e1fcde;
  border: none;
}
input[type="text"].error {
  background: #f7782a;
  color: #FFFFFF;
}

textarea {
  border: none;
  border-radius: 0px;
  box-sizing: border-box;
  color: #000000;
  font-size: 16px;
  font-family: sans-serif;
  height: 145px;
  letter-spacing: 0.03em;
  line-height: 28px;
  padding: 10px 30px 10px 10px;
  resize: none;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

textarea:focus {
  background: #e1fcde;
  border: none;
}
textarea.error {
  background: #f7782a;
  color: #FFFFFF;
}

button {
  border: none;
  cursor: pointer;
  padding: 0;
}
