@import 'reset';
@import 'blocks/catalog';
@import 'blocks/footer';
@import 'blocks/header';
@import 'blocks/main-comments';
@import 'blocks/main-news';
@import 'blocks/slider';



@green1: #1bb31b;
@footer_height: 55px;
@page_width: 960px;

html {
  height: 100%;
}
body {
  background: #FAFAFA;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  height: 100% !important;
  position: relative;
  width: 100%;
}

.i-layout {
  min-height: 100%;
  height: auto !important;
}
